#hero{
    background-image:url(../../../assets/images/Wallpaper_1920x1080_screenshot02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h6{
    color:darkslategrey;
   font-size: smaller;
   line-height: 0.5rem;
}