#hero{
    background-image:url(../../../assets/images/Wallpaper_1920x1080_screenshot02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}