<div class="container">
    <section class="shadow p-5 m-5 bg-secondary bg-opacity-25 rounded-3">
        <div class="row">
            <div class="d-flex justify-content-start mb-5">
                <button [routerLink]="['/home']" class="btn btn-secondary me-2"><i
                        class="fa-solid fa-house"></i></button>
                <button [routerLink]="['/category',myPost.categoria.toLowerCase()]" class="btn btn-secondary"><i
                        class="fa-solid fa-list"></i></button>
            </div>
            <div
                class="bg-white bg-opacity-50 mx-auto mb-4 shadow rounded-3 col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center">
                <h6 class="text-center">{{myPost.categoria}}</h6>
                <h2 class="text-center fw-bolder">{{myPost.titulo}}</h2>
                <h6 class="text-center"><i class="fa-solid fa-user-ninja m-1"></i>{{myPost.autor}}<i
                        class="fa-solid fa-calendar-days m-1 ms-3"></i>{{myPost.fecha}}
                </h6>
            </div>
            <figure class=" rounded-3 col-12 col-lg-6">
                <img class="mx-auto my-auto rounded-3 " [src]="myPost.imagen" [alt]="myPost.titulo">
            </figure>
            <hr class="my-5">
            <p class="bg-white bg-opacity-50 w-100 mx-auto col-12 col-lg-12 text-center shadow p-4 rounded-3">
                {{myPost.texto}}</p>
        </div>

    </section>
</div>