<div class="container mt-5">
    <section id="newPost">
        <h2>New Post</h2>
        <form class="form-control mt-3 p-4 shadow bg-secondary bg-opacity-10">
            <div>
                <label class="form-label" for="">Nombre del post</label>
                <input class="form-control" type="text" placeholder="Nombre">
            </div>
            <hr>
            <div class="form-group col-md-4">
                <label class="form-label" for="inputState">Categoría</label>
                <select id="inputState" class="form-control">
                    <option selected>Selecciona categoria</option>
                    <option>Categoria 1</option>
                    <option>Categoria 2</option>
                    <option>Categoria 3</option>
                    <option>Categoria 4</option>
                    <option>Categoria 5</option>
                </select>
            </div>
            <hr>
            <div>
                <label class="form-label" for="">Autor</label>
                <input class="form-control" type="text" placeholder="Autor">
            </div>
            <hr>
            <div>
                <label class="form-label" for="">Portada</label>
                <input class="form-control" type="text" placeholder="Introducir url">
            </div>
            <hr>
            <div class="form-group">
                <label class="form-label" for="exampleFormControlTextarea1">Contenido</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                    placeholder="Escribe aqui el contenido..."></textarea>
            </div>
        </form>
    </section>
</div>